<div class="p-5 mb-4 bg-light rounded-3 animated fadeIn">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold mb-5">Agregar nuevo curso</h1>


        <form>
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label for="tituloInput" class="form-label" [ngModel]="tituloCurso">Título:</label>
                    <input type="text" class="form-control" id="tituloInput"
                        placeholder="Ej: Programador Full Stack con Java">
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="nombreCursoInput" class="form-label" [ngModel]="nombreCurso">Nombre del curso:</label>
                    <input type="text" class="form-control" id="nombreCursoInput"
                        placeholder="Ej: #YoProgramo - Argentina Programa">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label for="tituloInput" class="form-label" [ngModel]="institucion">Institución:</label>
                    <input type="text" class="form-control" id="institucionInput"
                        placeholder="Institución o entidad que brinda el curso">
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="descripcionInput" class="form-label" [ngModel]="descripcion">Descripción:</label>
                    <input type="text" class="form-control" id="descripcionInput"
                        placeholder="Ej: Descripción, detalles, comentarios sobre el curso">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label for="descripcionInput" class="form-label" [ngModel]="descripcion">Imagen del
                        certificado:</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="cargarImagenInput"
                            aria-describedby="cargarImagenInput" aria-label="Upload" [ngModel]="linkImg">
                        <button class="btn btn-outline-secondary" type="button" id="cargarImagenInput">Cargar</button>
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="cantidadHorasInput" class="form-label" [ngModel]="duracionCurso">Duración del
                        curso:</label>
                    <input type="number" class="form-control" id="cantidadHorasInput"
                        placeholder="Duración del curso expresada en horas">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="tecnologias" class="form-label mb-0">Tecnologías aprendidas:</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Seleccionar">
                    <datalist id="datalistOptions">
                        <option *ngFor="let tecno of tecnologiasArray" value="{{tecno.nombreTecnologia}}">
                    </datalist>
                </div>
                <div class="col-sm-2">
                    <button type="submit"
                        class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3">Añadir</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3">Nueva
                        Tecnología</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3"
                        (onclick)="limpiarTecnologiasArray()">Limpiar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="temasDataList" class="form-label mb-0">Temas aprendidos en el curso:</label>
                    <input class="form-control" list="datalistOptions" id="temasDataList" placeholder="Seleccionar">
                    <datalist id="datalistOptions">
                        <option *ngFor="let tecno of tecnologiasArray" value="{{tecno.nombreTecnologia}}">
                    </datalist>
                </div>
                <div class="col-sm-2">
                    <button type="submit"
                        class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3">Añadir</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3">Nueva
                        Tecnología</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3"
                        (onclick)="limpiarTemas()">Limpiar</button>
                </div>
            </div>
        </form>

        <!--
        <div class="row row-cols-1 row-cols-md-3 g-4">
             Cards de proyectos
            <div class="col">
                <div class="card h-100">
                    <img src="{{linkImg}}" class="card-img-top" alt="{{nombreCurso}}">
                    <div class="card-body">
                        <h5 class="card-title">{{tituloCurso}}</h5>
                        <p class="card-text">
                        <p *ngIf="(nombreCurso!='')"><strong>{{nombreCurso}}</strong> </p>
                        <p class="mb-0"><strong>Tecnologías:</strong></p>
                        <p>
                            <ng-container *ngFor="let c of listaTecnologias; index as i">
                                -{{c[obtenerValorPorPosicion(c, 1)]}}
                            </ng-container>
                        </p>
                        <p class="mb-0"><strong>Temario:</strong></p>
                        <p>
                            <ng-container *ngFor="let t of listaTemas; index as i">
                                -{{t[obtenerValorPorPosicion(t, 1)]}}
                            </ng-container>
                        </p>
                        <p *ngIf="(descripcion!='')"><strong>Descripción:</strong> {{descripcion}}</p>
                        <p *ngIf="(institucion!='')"><strong>Institución:</strong> {{institucion}}</p>
                        <p *ngIf="(duracionCurso!='')"><strong>Duración:</strong> {{duracionCurso}}</p>
                    </div>
                    <div class="card-footer" *ngIf="(linkCurso!='')">
                        <div class="d-grid gap-2 col-8 mx-auto">
                            <a class="btn btn-outline-primary" href="{{linkCurso}}" role="button" target="_blank">Sitio
                                web del curso</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>-->
    </div>
</div>