<div class="p-5 mb-4 bg-light rounded-3 animated fadeIn">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold mb-5">Agregar nuevo curso</h1>


        <form autocomplete="off">
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label for="tituloInput" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="tituloInput"
                        placeholder="Ej: Programador Full Stack con Java" [(ngModel)]="curso.tituloCurso"
                        ngDefaultControl [ngModelOptions]="{standalone: true}" #titulo>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="nombreCursoInput" class="form-label">Nombre del
                        curso:</label>
                    <input type="text" class="form-control" id="nombreCursoInput"
                        placeholder="Ej: #YoProgramo - Argentina Programa" [(ngModel)]="curso.nombreCurso"
                        ngDefaultControl [ngModelOptions]="{standalone: true}" #nombreCurso>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label for="tituloInput" class="form-label">Institución:</label>
                    <input type="text" class="form-control" id="institucionInput"
                        placeholder="Institución o entidad que brinda el curso" [(ngModel)]="curso.institucion"
                        ngDefaultControl [ngModelOptions]="{standalone: true}" #institucion>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="descripcionInput" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="descripcionInput"
                        placeholder="Ej: Descripción, detalles, comentarios sobre el curso"
                        [(ngModel)]="curso.descripcion" ngDefaultControl [ngModelOptions]="{standalone: true}"
                        #descripcion>
                </div>
            </div>

            <!-- Certificado y duración del curso -->
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <label for="descripcionInput" class="form-label">Imagen del
                        certificado o de presentacion:</label>
                    <div class="input-group">
                        <input type="file" accept="image/*" #imagenInput class="form-control" id="cargarImagenInput"
                            aria-describedby="cargarImagenInput" aria-label="Upload" [(ngModel)]="curso.linkImg"
                            ngDefaultControl [ngModelOptions]="{standalone: true}" (change)="onChange($event)">
                        <!--<button class="btn btn-outline-secondary" type="button" id="cargarImagenInput"
                            (click)="onUpload()">Cargar</button>-->
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <label for="cantidadHorasInput" class="form-label" name="cantidadHorasInput">Duración del
                        curso:</label>
                    <input type="number" class="form-control" id="cantidadHorasInput" name="cantidadHorasInput"
                        [(ngModel)]="curso.duracionCurso" ngDefaultControl
                        placeholder="Duración del curso expresada en horas" #duracion>
                </div>
            </div>


            <!-- Temas -->
            <div class="row">
                <div class="col-sm-9 mb-3">
                    <label for="temasInput" class="form-label mb-0">Temas aprendidos en el curso:</label>
                    <input type="text" class="form-control" id="temasInput" name="temasInput" [(ngModel)]="temasIn"
                        placeholder="Ej: Programación Orientada a Objetos (2 o más caracteres)." #temasInput>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3"
                        (click)="agregarTema(temasInput.value)">Añadir</button>
                </div>
            </div>

            <!-- Tecnologías -->
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="tecnologias" class="form-label mb-0">Tecnologías aprendidas:</label>
                    <select name="temasSelect" class="form-select" id="floatingSelect" placeholder="Seleccionar"
                        #tecnoInput>
                        <option *ngFor="let tecno of tecnologiasBDArray" value="{{tecno.nombreTecnologia}}">
                            {{tecno.nombreTecnologia}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3"
                        (click)="agregarTecnologia(tecnoInput.value)">Añadir al
                        curso</button>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3">Nueva
                        Tecnología</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-3 mx-auto">
                    <button type="submit" class="btn btn-outline-primary col-12 mt-4 me-0 ms-0 ps-3 pe-3"
                        (click)="guardarNuevoCurso(titulo.value, nombreCurso.value, institucion.value, descripcion.value, duracion.value)">Guardar
                        curso</button>
                </div>
            </div>

        </form>

        <!-- Vista previa del curso-->
        <h1 class="display-5 fw-bold mt-5 mb-4">Vista previa del curso:</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col-sm-6 mb-3 mx-auto">
                <div class="card h-100">
                    <img *ngIf="(previsualizacion!='')" [src]="previsualizacion" class="card-img-top"
                        alt="{{curso.nombreCurso}}">
                    <div class="card-body">
                        <h5 class="card-title">{{curso.tituloCurso}}</h5>
                        <p class="card-text">
                        <p *ngIf="(curso.nombreCurso!='')"><strong>{{curso.nombreCurso}}</strong> </p>
                        <p class="mb-0"><strong>Tecnologías:</strong></p>
                        <p>
                            <ng-container *ngFor="let tec of tecnologiasNvoCurso; index as i">
                                -{{tec.nombreTecnologia}}
                            </ng-container>
                        </p>
                        <p class="mb-0"><strong>Temario:</strong></p>
                        <p>
                            <ng-container *ngFor="let tema of temaArrayNvoCurso; index as i">
                                -{{tema.nombreTema}}
                            </ng-container>
                        </p>
                        <p *ngIf="(curso.descripcion!='')"><strong>Descripción:</strong> {{curso.descripcion}}</p>
                        <p *ngIf="(curso.institucion!='')"><strong>Institución:</strong> {{curso.institucion}}</p>
                        <p *ngIf="(curso.duracionCurso!='')"><strong>Duración:</strong> {{curso.duracionCurso}}</p>
                    </div>
                    <!--   <div class="card-footer" *ngIf="(linkCurso!='')">
                        <div class="d-grid gap-2 col-8 mx-auto">
                            <a class="btn btn-outline-primary" href="{{linkCurso}}" role="button" target="_blank">Sitio
                                web del curso</a>
                        </div>

                    </div>-->
                </div>
            </div>

        </div>
        <!-- Fin de vista previa del curso-->
    </div>
</div>