<div class="p-5 mb-4 bg-light rounded-3 animated fadeIn">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Mi stack:</h1>
    <div class="container mt-5 mb-3">
      <!--primera fila-->
      <div class="row mt-5">
        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/angular.png" alt="" height="80">
          <hr class="mb-1">
          Angular
        </div>

        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/spring-boot-ok.png" alt="" height="80">
          <hr class="mb-1">
          Spring Boot
        </div>

        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/java2.png" alt="" height="80">
          <hr class="mb-1">
          Java
        </div>

        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/ionic.png" alt="" height="80">
          <hr class="mb-1">
          Ionic
        </div>
      </div>

      <!--segunda fila-->
      <div class="row mt-5">
        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/js.png" alt="" height="80">
          <hr class="mb-1">
          JavaScript
        </div>

        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/ts-logo-128.png" alt="" height="80">
          <hr class="mb-1">
          Typescript
        </div>


        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/Bootstrap_logo.svg" alt="" height="80">
          <hr class="mb-1">
          Bootstrap
        </div>


        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/mysql.png" alt="" height="80">
          <hr class="mb-1">
          MySql
        </div>

      </div>
      <!--tercera fila-->
      <div class="row mt-5">
        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/html.png" alt="" height="80">
          <hr class="mb-1">
          Html
        </div>
        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/css.png" alt="" height="80">
          <hr class="mb-1">
          Css
        </div>

        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/git-icon.png" alt="" height="80">
          <hr class="mb-1">
          Git
        </div>
        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/github-icon.png" alt="" height="80">
          <hr class="mb-1">
          GitHub
        </div>
      </div>

      <!--cuarta fila-->
      <div class="row mt-5">
        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/gitlab-icon.png" alt="" height="80">
          <hr class="mb-1">
          GitLab
        </div>

        <div class="col-md-3 mb-3 text-center">
          <img src="../../../assets/img/logos/postman-icon.png " alt="" height="80">
          <hr class="mb-1">
          Postman
        </div>

      </div>
    </div>

  </div>
</div>