<div class="p-5 mb-4 bg-light rounded-3 animated fadeIn">
    <nav class="navbar bg-light py-5">
        <div class="container-fluid">
            <a class="navbar-brand">
                <h1 class="display-5 fw-bold">Cursos realizados</h1>
            </a>
            <!-- Buscador  -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" [(ngModel)]="buscador" type="text" placeholder="Buscar x tecnología"
                    (keyup.enter)="buscarTecnologia(buscarTecnol.value)" #buscarTecnol name="buscarTecnol"
                    [disabled]="banderaBusqueda">
                <button (click)="buscarTecnologia(buscarTecnol.value)" class="btn btn-outline-primary" type="button"
                    [disabled]="banderaBusqueda">Buscar</button>
                <button (click)="limpiarBusqueda()" class="btn btn-outline-primary ms-2" type="button">Limpiar</button>
            </form>
        </div>
    </nav>

    <div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn fast"
        *ngIf="(cursos.length===0 && banderaBusqueda===true); else elseBlock">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                No existen resultados para el término {{tecnologia}}
            </div>
        </div>
    </div>

    <ng-template #elseBlock>
        <div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn fast" *ngIf="(tecnologia !='')">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    Estos son los cursos que contienen {{tecnologia}}:
                </div>
            </div>
        </div>
    </ng-template>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Cards de proyectos -->
        <div class="col" *ngFor="let curso of cursos;">
            <div class="card h-100">
                <img [src]="curso.imagen" class="card-img-top" alt="{{curso.nombreCurso}}">
                <div class="card-body">
                    <h5 class="card-title">{{curso.tituloCurso}}</h5>
                    <p class="card-text">
                    <p *ngIf="(curso.nombreCurso!='')"><strong>{{curso.nombreCurso}}</strong> </p>
                    <p class="mb-0"><strong>Tecnologías:</strong></p>
                    <p>
                        <ng-container *ngFor="let c of curso.listaTecnologias; index as i">
                            -{{c[obtenerValorPorPosicion(c, 1)]}}
                        </ng-container>
                    </p>
                    <p class="mb-0"><strong>Temario:</strong></p>
                    <p>
                        <ng-container *ngFor="let t of curso.listaTemas; index as i">
                            -{{t[obtenerValorPorPosicion(t, 1)]}}
                        </ng-container>
                    </p>
                    <p *ngIf="(curso.descripcion!='')"><strong>Descripción:</strong> {{curso.descripcion}}</p>
                    <p *ngIf="(curso.institucion!='')"><strong>Institución:</strong> {{curso.institucion}}</p>
                    <p *ngIf="(curso.duracionCurso!='')"><strong>Duración:</strong> {{curso.duracionCurso}}</p>
                </div>
                <!--
                <div class="card-footer" *ngIf="(curso.linkCurso!='')">
                    <div class="d-grid gap-2 col-8 mx-auto">
                        <a class="btn btn-outline-primary" href="{{curso.linkCurso}}" role="button"
                            target="_blank">Sitio
                            web del curso</a>
                    </div>

                </div>
                -->
            </div>
        </div>

    </div>
</div>