<div class="p-5 mb-4 bg-light rounded-3 animated fadeIn">
    <div class="container-fluid py-5 ">
        <h1 class="display-5 fw-bold mb-4">{{aplicacion.nombre}}</h1>
        <p class="col-md-12 fs-5 mb-4">{{aplicacion.descripcionAmplia}}</p>

        <!-- Comienzo del carousel-->
        <div class="container-fluid tamanio" style=" max-width: 70%;">
            <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active justify-content-center imagenCar">
                        <img src="{{aplicacion.imgPrev}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" *ngFor="let imagen of arrayImagenes; index as i">
                        <img src="{{imagen.urlImagen}}" class="d-block w-100" alt="...">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <!-- Fin del carousel-->
        <div class="row mt-5">
            <div class="col-md-12 mb-3 text-center">

                <hr class="mb-1">
                <a href="{{aplicacion.linkRepo}}" target="_blank">
                    <img src="../../../assets/img/logos/github-icon.png" alt="Github" height="60">
                </a>

                <div class="col-md-12 mb-3 text-center">
                    Ver repositorio en Github
                </div>
                <hr class="mb-1">
            </div>

        </div>

        <!-- Boton para volver atrás-->
        <div class="d-grid gap-2 col-3 mx-auto mt-5">
            <a [routerLink]="['/aplicaciones']" class="btn btn-outline-primary" role="button">Volver a Proyectos</a>
        </div>
    </div>
</div>